<!-- Footer -->
<footer class="page-footer font-small" style="background-color: #18191a;">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: #f1d302;">
      © 2021 Copyright: Articuno Gaming
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->