<% layout('layouts/boilerplate')%>
<div class="container-fluid" style="background-color: #18191a">
  <div class="container" style="height: 100vh">
    <div class="row">
      <div class="col-12 mt-5">
        <div
          style="color: #f1d302; font-weight: 800; font-size: 60px"
          class="text-center mt-5"
        >
          THANK YOU 🤩
        </div>
        <p style="color: white" class="text-center">
          Our Tech Team contact you soonn on your registered number<br />
          If anyone of the member has already registered then the team entry
          would be disqualified
        </p>
      </div>
    </div>
  </div>
</div>
