<% layout('layouts/boilerplate')%>
<div
  class="text-center"
  style="font-size: 50px; background-color: #18191a; color: #f1d302"
>
  MATCH ZIEUS
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://sahityadarpan.com/wp-content/uploads/2021/05/bgmi-wallpapers-4k-full-hd-scaled.jpeg"
        class="d-block w-100"
        style="height: 500px"
        alt="..."
      />
    </div>
  </div>
</div>
<div class="container-fluid" style="color: #18191a; background-color: #f1d302">
  <div class="container">
    <div class="text-center pt-4" style="font-size: 50px; font-weight: 600">
      Details
    </div>
    <table class="info">
      <tr>
        <td>Registration</td>
        <td class="text-right ">Free</td>
      </tr>
      <tr>
        <td>Date</td>
        <td class="text-right">27th July'21</td>
      </tr>
      <tr>
        <td>Prize Money</td>
        <td class="text-right">Rs.500</td>
      </tr>
      <tr>
        <td>Team Size</td>
        <td class="text-right">4 members</td>
      </tr>
      <tr>
        <td>Total Teams</td>
        <td class="text-right">Will be disclosed Soon</td>
      </tr>
      <tr>
        <td>Duration</td>
        <td class="text-right">45mins - 1hour</td>
      </tr>
    </table>
    <div class="row">
      <div class="col-12">
        <div style="font-size: 30px; font-weight: 600" class="mt-4">Terms and Conditions</div>
      </div>
      <div class="col-12">
        <p>
          1) Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Consequuntur quia quas repellendus quibusdam! Ad, molestias.
        </p>
      </div>
      <div class="col-12">
        <p>
          2) Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Consequuntur quia quas repellendus quibusdam! Ad, molestias.
        </p>
      </div>
      <div class="col-12">
        <p>
          3) Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Consequuntur quia quas repellendus quibusdam! Ad, molestias.
        </p>
      </div>
      <div class="col-12">
        <p>
          4) Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Consequuntur quia quas repellendus quibusdam! Ad, molestias.
        </p>
      </div>
      <div class="col-12">
        <p>
          5) Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Consequuntur quia quas repellendus quibusdam! Ad, molestias.
        </p>
      </div>
      <div class="col-12">
        <p>
          6) Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Consequuntur quia quas repellendus quibusdam! Ad, molestias.
        </p>
      </div>
      <div class="col-12">
        <p>
          7) Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Consequuntur quia quas repellendus quibusdam! Ad, molestias.
        </p>
      </div>
      <div class="col-12">
        <p>
          8) Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Consequuntur quia quas repellendus quibusdam! Ad, molestias.
        </p>
      </div>
      <div class="col-12 text-center my-4">
        <a href="/zieus/registration" class="btn btn-register">Registere Here</a>
      </div>
    </div>
  </div>
</div>
